<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <div>
        <h1><%= username %></h1>
        <% for (let i = 0; i < chat.length; i++) { %>
            <% if (locals.chat) { %>
                <form action="/chat" method="post">
                    <input type="text" name="user" id="user" value="<%= username %>" hidden>
                    <input type="text" name="friend" id="friend" value="<%= chat[i] %>" hidden>
                    <input type="submit" value="<%= chat[i] %>">
                </form>
            <% } else { %>
                <p>No messages yet.</p>
            <% } %> 
        <% } %>
    </div>
    <div>
        <form action="/users" method="post">
            <input type="text" name="name" id="name" value="<%= username %>" hidden>
            <input type="submit" value="users">
        </form>
    </div>
    
</body>
</html>